<!DOCTYPE html >
<head>
<style>
.tablelist {     
   background-color:#f3ffff;
   border: 1px solid #000;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   height:1000px;
   width:1000px;
   padding:20px;
 </style>
</style>
<title>用户信息</title>
<div align="center" >
<span></span><a href="/">退出</a>
</div>
  <div  class='tablelist'>
    <form action="/" method="POST"  autocomplete="off" >
              
             <table  >
        <thead>
                <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>操作</th>
                </tr>
        </thead>
        <tbody> 
                    {% block content %}
                         {% for item in userlist%}
                         <tr>
                       
                                 <td>{{item[0]}} </td>
                               
                                 <td>{{item[1]}}</td>
                               
                                 <td>{{item[2]}}</td>
                            
                                 <td noWrap>
                                    <a href="/update/?id={{item[0]}}" class="dow" id="update" > 修改</a>
                                    <a href="/delete/?id={{item[0]}}" class="dow" > 删除</a>
                                    <br>
                                 </td>
                          </tr>
                          {% endfor %}
              {% endblock %}

        </tbody>

    </table>
    </form>
</div>
</body>
</html>








