<!DOCTYPE html >
<head>
<style>
.tablelist {     
   background-color:#f3ffff;
   border: 1px solid #000;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   height:400px;
   width:800px;
   padding:20px;
 </style>
</style>
<title>用户信息</title>

<div align="left" >
<span></span><a href="/register/">用户添加</a> <span></span><a href="/">退出</a>
</div>
  <div  class='tablelist'>
    <form action="/" method="POST"  autocomplete="off" >
              
             <table border="1" >
        <thead>
                <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>角色</th>
                        <th>操作</th>
                </tr>
        </thead>
        <tbody> 
                    {% block content %}
                         {% for item in userlist%}
                         <tr>  
                                 <td>{{item.id}}</td>
                                 <td>{{item.username}}</td>
                                 <td>{{item.password}}</td>
                                {% if  item.role  ==  1 %}
                                     <td>超级管理员</td>
                                {% else %}
                                      <td>普通用户</td>
                                {% endif %}
                                 <td noWrap>
                                    <a href="/update/?id={{item.id}}" class="dow" id="update" > 修改</a>
                                    <a href="/delete/?id={{item.id}}" class="dow" > 删除</a>
                                    <br>
                                 </td>
                          </tr>
                          {% endfor %}
              {% endblock %}

        </tbody>

    </table>
    </form>
</div>
</body>
</html>








